[pull]
	rebase = false
[credential]
	helper = store
[user]
	email = will@eccles.dev
	name = Will Eccles
	signingkey = CAEBC3A8A8B8E9E8
[init]
	defaultBranch = master
[advice]
	detachedHead = false
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[push]
	followTags = true
[alias]
	graph = log --graph --oneline --all
	browse = !git log --color=always --pretty=\"format:%C(auto)%h%d %s\" | fzf --ansi --no-sort --with-nth=2.. --layout=reverse --preview=\"git show --color=always --decorate {1}\"
	amend = commit --amend

[status]
	short = true
	branch = true
	aheadBehind = true
	renames = true
	showStash = true
	showUntrackedFiles = normal

# vim: set noet sw=8 ts=8 :
